.SignupPage {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #4d0088;

    &__form {
        gap: 2rem;
        display: flex;
        padding: 2rem 3rem;
        border-radius: 1rem;
        align-items: stretch;
        flex-direction: column;
        background-color: #fff;
    }
}